.portfolio {
  padding: 20px;
}

.portfolio h1 {
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.project {
  width: 300px;
  background-color: #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.project img {
  width: 100%;
  border-radius: 8px;
}

.project h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.project p {
  margin: 0;
  font-size: 1rem;
  color: #888888;
}
